@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@500&family=Josefin+Sans&family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Righteous&family=Satisfy&display=swap');

/* Base htmlt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.wrapper {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    
}

.menu a{
    text-decoration: none;
    padding: 10px 20px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.menu li{
    list-style: none;
}

.menu .lista{
color:#3D4655;
font-weight: bold;
font-family: Josefin Sans;


}

.brand {
    font-family: Josefin Sans;
}

.brand span{
    color: #F20707;

}

.menu a:hover {
    background-color: #3D4655;
    color: white;
    transition: ease-in 0.3s;
    border-radius: 50px;
}

.img {
    height: 400px;
    width: 500px;
    margin-top: 20px;
    border-radius: 20px;
    border: #F2A007 solid;
    border-width: 10px;
}

/* home htmlt */

h3 {
    font-family: Josefin Sans;
    font-size: 35px;
    padding-bottom: 35px;
    padding-top: 35px;
    
}

p{
    font-family: Montserrat;
    padding-bottom: 35px;
}

.intro {
    padding-left: 35px;
    padding-bottom: 35px;
    padding-top: 10px;
    background-color: #F2A007;
    height: 100vh;
    width: 100vw;
}