<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/e7690f1b29.js" crossorigin="anonymous"></script>
    <title>{%block title%}{%endblock %} </title>
</head>
<body>
    
    
<div class="wrapper">
        <nav class="navbar">
            <div class="brand">
                <h2>ALE<span>MA</span>NIA</h2>
            </div>
            <ul class="menu">
                <li><a class ="lista" href="#inicio"> Inicio</a></li>
                <li><a class ="lista" href="#gallery">Gallery</a></li>
                <li><a class ="lista" href="#estadistica">Stadistics</a></li>
                <li><a class ="lista" href="#contact">Contact us</a></li>
                <li><a class ="lista" href="#aboutme">About me</a></li>
                
            </ul>
        </nav>
    </header>
    <center>
    <img class="img" src="{{ url_for('static', filename='./images/germany.jpg') }}" alt="">
    <img class="img2" src="{{ url_for('static', filename='./images/flag.jpg') }}" alt="">
    </center>
    
        
</div>


    {%block contents %} {% endblock %}

</body>
</html>
