{% extends './base.html' %}

{% block title %} home page {% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% block contents %}

<!--Pantalla de inicio-->
<section class="gallery" id="gallery">
    <div class="intro">
        <div class="Inicio">
            <center>
            <h3>Descubre Alemania</h3>
            </center>
            
        </div>
            <center>
                <p>Alemania es un país que se conforma por 16 estados federados, caraterizado por diversidad de estilos de vida y atractivos paisajes. </p>
            </center>


    <!--Pantalla de galería-->
    <center>
        <div id="itemCarrusel">

    <!--primera imagen-->
            <div class="carrusel" id="item1" >
                <div class="tarjetacarrusel" id="imagen1">
                    <center>
                        <img class="imagen" src="{{ url_for('static', filename='./images/carrusel1.jpg') }}" alt="">
                    </center>
                </div> 
                <div class="flechas">
                    <a href="#item4"><i class="fa-solid fa-circle-arrow-left"></i></a>
                    <a href="#item2"><i class="fa-solid fa-circle-arrow-right"></i></a>
                </div> 
                
            </div>
    <!--segunda imagen-->
            <div class="carrusel" id="item2" >
                <div class="tarjetacarrusel" id="imagen2">
                    <center>
                        <img class="imagen" src="{{ url_for('static', filename='./images/carrusel2.jpg') }}" alt="">
                    </center>
                </div> 
                <div class="flechas">
                    <a href="#item1"><i class="fa-solid fa-circle-arrow-left"></i></a>
                    <a href="#item3"><i class="fa-solid fa-circle-arrow-right"></i></a>
                </div> 
            </div>

    <!--tercera imagen-->
            <div class="carrusel" id="item3">
                <div class="tarjetacarrusel" id="imagen3">
                    <center>
                        <img class="imagen" src="{{ url_for('static', filename='./images/carrusel3.jpg') }}" alt="">
                    </center>
                </div> 
                <div class="flechas">
                    <a href="#item2"><i class="fa-solid fa-circle-arrow-left"></i></a>
                    <a href="#item4"><i class="fa-solid fa-circle-arrow-right"></i></a>
                </div> 
            </div>

    <!--cuarta imagen-->
            <div class="carrusel" id="item4">
                <div class="tarjetacarrusel" id="imagen4">
                    <center>
                        <img class="imagen" src="{{ url_for('static', filename='./images/carrusel4.jpg') }}" alt="">
                    </center>
                </div> 
                <div class="flechas">
                    <a href="#item3"><i class="fa-solid fa-circle-arrow-left"></i></a>
                    <a href="#item1"><i class="fa-solid fa-circle-arrow-right"></i></a>
                </div> 
            </div>

        </div>

        <!--Puntos

        <div id="puntos">
            <a href="#item1"><i class="fa-solid fa-circle"></i></a>
            <a href="#item2"><i class="fa-solid fa-circle"></i></a>
            <a href="#item3"><i class="fa-solid fa-circle"></i></a>
            <a href="#item4"><i class="fa-solid fa-circle"></i></a>
        </div>
        -->

        <!--cuadro con información-->
        
        <div class="container">
            <!--first box-->
            <div class="box">
            
                <div class="content">
                    <h4>
                
                        Lifestyle
                    </h4>
                    <p>Las personas en Alemania son muy hospitalarias y orgullosas de su cultura. Alemania es un país estable respecto a su coste de vida. Además, se lleva un estilo de vida muy moderno y con altos estándares de vida.</p>
                </div>
            </div>

            <!--second box-->
            <div class="box">
                
                <div class="content">
                    <h4>
                        Arquitectura 
                    </h4>
                    <p>Alemania contiene importantes obras de estilos arquitectónicos como gótico, renacentista y barroco. Luego de la Segunda Guerra Mundial, la arquitectura se inclinó a un estilo más moderno.</p>
                </div>
            </div>

            <!--third box-->
            <div class="box">
            
                <div class="content">
                    <h4>
                        Food
                    </h4>
                    <p>
                        La comida en Alemania tiene influencia de Italia y Francia. Los ingredientes predominantes en sus platos son carnes de cerdos, ternera y embutidos.
                    </p>
                </div>
            </div>
        </div>
    

    </div>
    </center>
</section>



<!--Pantalla de estadísticas-->
<section class="estadistica" id="estadistica">
    <div class="stadistics">
        <div class="grafico">
            <div class="info1">
                <center>
                    <h3 class="titulo">Stadistics</h3> <i class="id fa-solid fa-chart-line"></i>
                    
                    
                </center>
                <div class="info2">
                    <center>
                        <h4>Número de habitantes de Alemania entre 2008 a 2020</h4>
                        <a class ="link" href="https://es.statista.com/estadisticas/724659/evolucion-de-la-poblacion-de-alemania/" target="_blank" >
                            <img class="imagenst" src="{{ url_for('static', filename='./images/poblacion.png') }}" alt="">
                        </a>  
                    </center>
                </div>
            </div>
            
            
            
        </div>

    </div>
</section>


<!--Pantalla de contacto-->
<section class="contact" id="contact">
    <div class="contact-us">
        <center>
            <h3 class="m">Contact <span>US</span> </h3> 
            
        </center>
        <div class="bloque">
            <div class="contact_form">
                <br>
                <form action="{{ url_for('site.new_message') }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.firstname.label}}
                    {{ form.firstname}}
                    {{ form.lastname.label}}
                    {{ form.lastname}}
                    {{ form.email.label}}
                    {{ form.email}}
                    {{ form.message.label}}
                    {{ form.message}}
                    {{ form.submit }}
                </form>
                <br>
            </div>

            
        </div>
        
    </div>

</section>

<!--Pantalla de about me-->

<section class="aboutme" id="aboutme">
    <div class="aboutme">
        <img class="imgabout" src="{{ url_for('static', filename='./images/portafolio2.jpeg') }}" alt="">
    
    
        <div class="about-intro">
            <h2 class="about">About <span>ME</span></h2>
            <div class="divisor"></div>
            <p>
                Mi nombre es Nathalie Sofía Flores Delgado, una persona proactiva que le gusta desafiarse constantemente.
                Algunas de mis habilidades son: flexibilidad y adaptación a diversas situaciones, capacidad de trabajo en equipo y liderazgo.</p>
    
            <p>Actualmente, soy estudiante de tercer año de Ingeniería de Negocios y tengo 20 años.</p>

            <div class="boton">
                <center>
                    <a class ="link2" href="https://github.com/nathaliesflores2" target="_blank">Link de Github</a>
                </center>
            </div>


        </div>

        

    </div>
   

    
</section>

<!--Footer-->
<section class="contacto" id="contacto">
    <footer>
        <center>
        <div class="footer">
            <div class="contenido">
                <h2>CONTACTO</h2>
    
                <div class="info">
                    <div class="email">
                        <h5>Email</h5>
                        <i class="e fa-solid fa-envelope"></i>
                        <p>20204007@esen.edu.sv</p>
                        
                    </div>
                    
                    <div class="social">
                        <h5>Instagram</h5>
                        <i class="e fa-brands fa-instagram-square"></i>
                        <p>nathalie_flores</p>
                    </div>
    
                    <div class="number">
                        <h5>Número de teléfono</h5>
                        <i class="e fa-solid fa-square-phone"></i>
                        <p>7746-9678</p>
                    </div>
                </div>
               
        
            </div>
        </div>
        </center>
    </footer>
    
    
    
    </section>
    

{% endblock %}

